@model IEnumerable<TomanTodos.Models.TomanTodosModels.MovimientoDetalle>

@{
    ViewBag.Title = "Index";
    int cant = 0;
}

<h2>Detalle de Movimientos</h2>
<hr />

<div class="table-responsive">
    <table class="table display" id="table-movimientos" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>
                    Producto
                </th>
                <th>
                    Sucursal
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaMovimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                cant = Convert.ToInt32(item.Cantidad);

                <tr>
                    <td class="align-middle">
                        <img class="home-img" src="/Productos/RetrieveImage/@item.Producto.Id" alt="" height="120" width="120" />
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Producto.Nombre)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Sucursal.Nombre)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.FechaMovimiento)
                    </td>
                    <td class="align-middle">
                        @if (item.TipoMovimiento == TomanTodos.Models.TomanTodosModels.TipoMovimiento.Sustraccion)
                        {
                            @*<label> -@cant</label>*@
                            <span class="badge badge-danger col-md-8">-@Convert.ToInt32(@item.Cantidad)</span>
                        }
                        else
                        {
                            @*<label>@cant</label>*@
                            <span class="badge badge-success col-md-8">@Convert.ToInt32(@item.Cantidad)</span>

                        }
                    </td>
                    
                </tr>
            }
        </tbody>


    </table>
</div>

@*<td>
    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
</td>*@