<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    <title>Toman Todos</title>
    <link href="~/Content/lib/favicon.png" rel="shortcut icon" />


    @Styles.Render("~/Content/styles")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/lib/easy-pie-chart/easy-pie-chart.css" />
    <link rel="stylesheet" href="~/Content/fontawesome-all.min.css" />
    <link rel="stylesheet" href="~/Content/lib/msgPop/msgPop.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        @*<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="ttnavbar">*@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Toman Todos</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                        </li>

                        <!--<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Index", "Productos")">Productos</a>
                                <a class="dropdown-item" href="@Url.Action("VerStockProductos", "Productos")">Ver Stock</a>
                                <a class="dropdown-item" href="@Url.Action("IntercambiarProductos", "StockItems")">Intercambiar</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Sucursales")">Sucursales</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Categorias")">Categorias</a>-->
                                @*<a class="dropdown-item" href="@Url.Action("Index", "MovimientoDetalles")">Movimientos</a>*@
                            <!--</div>
                        </li>-->
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
           
        </nav>
    </header>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Content/lib/msgPop/msgPop.js"></script>



    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@


    @*<script src="~/Scripts/bootstrap.bundle.min.js"></script>*@
    <script src="~/Content/lib/easy-pie-chart/easypiechart.js"></script>
    <script src="~/Content/lib/easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="~/Content/lib/site.js"></script>



    @if (TempData["OK"] as bool? ?? false)
    {
        var status = TempData["OK"].ToString();
        var cantidad = TempData["Cantidad"].ToString();
        var producto = TempData["Producto"].ToString();
        var sucursal = TempData["Sucursal"].ToString();
        var movimiento = TempData["Movimiento"].ToString();

        //var resp = new
        //{
        //    status = "uno",
        //    cantidad = "dos",
        //    producto = "tres",
        //    sucursal = "cuatro",
        //};

        <script>
            notification('@status', '@cantidad', '@producto', '@sucursal', '@movimiento');
        </script>
    }
    else if (TempData["OK"] as bool? ?? false)
    {
        var status = TempData["OK"].ToString();
        var producto = TempData["Producto"].ToString();


        <script>
            notification('@status', null, '@producto', null, null);
        </script>
    }

</body>
</html>
