<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/fontawesome-all.min.css" />
    <link rel="stylesheet" href="~/Content/lib/msgPop/msgPop.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="ttnavbar">
            <a class="navbar-brand" href="#">Toman Todos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index", "Productos")">Productos</a>
                            <a class="dropdown-item" href="@Url.Action("VerStockProductos", "Productos")">Ver Stock</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "Sucursales")">Sucursales</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "Categorias")">Categorias</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "StockItems")">StockItems</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "MovimientoDetalles")">Movimientos</a>
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
    </header>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Content/lib/msgPop/msgPop.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @if (TempData["OK"] as bool? ?? false)
    {

        var cantidad = TempData["Cantidad"].ToString();

        <script>
            MsgPop.closeAll();
            MsgPop.displaySmall = true;
            MsgPop.open({
                Type: "success",
                Content: "Se agregaron " + @TempData["Cantidad"].ToString() + " @TempData["Producto"].ToString()" + " a " + " @TempData["Sucursal"].ToString()",
            });
        </script>
    }
    else if (TempData["OK"] as bool? ?? false)
    {
        <script>
            MsgPop.closeAll();
            MsgPop.displaySmall = true;
            MsgPop.open({
                Type: "error",
                Content: "Error! No se pudo agregar el stock ingresado",
            });
        </script>
    }

</body>
</html>
