@model IEnumerable<TomanTodos.Models.TomanTodosModels.Categoria>

@{
    ViewBag.Title = "Index";
}

<h2>Categorias</h2>
<hr />

<div class="table-responsive">
    <table class="table table-striped display" id="table-categorias" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th></th>
                <th></th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>

                    <td class="align-middle text-center">
                        @*@Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-warning" })*@
                        <a class="btn btn-outline-warning" href="@Url.Action("Edit", "Categorias")?Id= @item.Id" data-toggle="tooltip" data-placement="bottom" title="Editar categoria">
                            <i class="fa fa-pen" aria-hidden="true"></i>
                        </a>
                    </td>

                    <td class="align-middle text-center">
                        @*@Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger" })*@
                        <a class="btn btn-outline-danger" href="@Url.Action("Delete", "Categorias")?Id= @item.Id" data-toggle="tooltip" data-placement="bottom" title="Eliminar categoria">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
