@model IEnumerable<TomanTodos.Models.TomanTodosModels.Sucursal>

@{
    ViewBag.Title = "Index";

    var @id_i = 0;
    var @id_j = 0;
}

<br />

<div class="row">
    <div class="col-md-6">
        <h2>Sucursales</h2>
    </div>
    <div class="col-md-6">
        <a class="btn btn-success float-right form-group" href="@Url.Action("Create", "Sucursales")">Agregar Sucursal</a>
    </div>
</div>


<div class="row">
    @foreach (var item in Model)
    {
        id_i++;


        <div class="col-lg-6">
            @*<div id="accordion">*@
                <div class="card sucursales-card" id="accordion">
                    <div class="card-header" id="headingOne">
                        @*<i class="fa fa-database"></i>*@
                        <h5 class="mb-0 text-center">
                            @*<button class="btn btn-link" data-toggle="collapse" data-target="#sucursal_@id_i" aria-expanded="false" aria-controls="collapseOne_@id_i">
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </button>*@
                            <a class="btn btn-link btn-accordion" data-toggle="collapse" data-target="#sucursal_@id_i" aria-expanded="false" aria-controls="collapseOne_@id_i">
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </a>
                        </h5>
                    </div>

                    <div id="sucursal_@id_i" class="collapse sucursales-transition" aria-labelledby="headingOne_@id_i">

                        <table class="table table-striped tabla-sucursal">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="align-middle">Producto</th>
                                    <th class="align-middle">Cantidad</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var stock in item.StockItems)
                                {
                                    id_j++;
                                    <tr>
                                        <td class="align-middle">@Html.DisplayFor(model => stock.Producto.Nombre)</td>
                                        <td class="align-middle">@Html.DisplayFor(model => stock.Cantidad)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            @*</div>*@
        </div>
    }
</div>