@model TomanTodos.Models.TomanTodosModels.Producto

@{
    //Layout = null;
    ViewBag.Title = "Intercambiar Productos";
}

<br />


<div class="row">
    <div class="col-md-4 text-center card">
        @if (Model != null)
        {
            <img src="/Productos/RetrieveImage/@Model.Id" alt="" height="300" width="300" class="rounded margin-auto" />
            if (Model.Stock.Count != 0)
            {
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Stock Actual</th>
                            </tr>
                        </thead>

                        @*@if (Model.Stock.Count != 0)
                        {*@




                        @foreach (var item in Model.Stock)
                        {
                            <tr>
                                <td>@item.Sucursal.Nombre:  @item.Cantidad</td>
                            </tr>

                        }
                        @*}
                        else
                        {*@
                        @*<tr>
                            <td class="alert alert-danger alert-dismissible fade show" role="alert">No hay stock del producto en ninguna sucursal</td>
                        </tr>*@
                        @*}*@


                    </table>
                </div>
            }
            else
            {
                <span class="alert alert-danger font-weight-bold">
                    No hay stock en ninguna sucursal
                </span>
            }

        }
    </div>

    <div class="col-md-8 text-center">

        <h2 class="mb-5">Intercambiar stock @Model.Nombre</h2>

        <div class="row">
            <div class="col-md-6">
                <label>Producto: </label>
                @Html.DropDownList("productoId", null, htmlAttributes: new { @class = "form-control margin-auto" })
            </div>

            <div class="col-md-6 form-group">
                <label>Cantidad a traspasar: </label>
                <input class="form-control margin-auto" type="number" name="name" value="" min="1" id="cantIntercambiar" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>Sucursal Origen: </label>
                @Html.DropDownList("sucursalOrigenId", null, htmlAttributes: new { @class = "form-control margin-auto" })
            </div>
            <div class="col-md-6">
                <label>Sucursal Destino: </label>
                @Html.DropDownList("sucursalDestinoId", null, htmlAttributes: new { @class = "form-control margin-auto" })
            </div>
        </div>


        <div class="col-md-12 mt-4 text-center">
            @if (Model.Stock.Count != 0)
            {
                <button id="intercambiar" class="btn btn-outline-primary">
                    <i class="fa fa-exchange-alt mr-1"></i> Intercambiar
                </button>
            }
            else
            {
                <button id="intercambiar" class="btn btn-outline-primary" disabled>
                    <i class="fa fa-exchange-alt mr-1"></i> Intercambiar
                </button>
            }
        </div>

    </div>


</div>